h1
{
  text-align:center
}

.wrap {
    width: 100%;

}
.floatleft {
    float:left;
   width: 60%;
    height: 400px;
  text-align:center
}

.floatright {
float: right;
height: 400px;
width:40% ;
text-align:center
}
.vibration {
    float:left;
   width: 60%;
    height: 400px;
  text-align:center
}
.water {
    float:left;
   width: 40%;
    height: 400px;
  text-align:center
}
